<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{#        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.20/dist/full.min.css" rel="stylesheet" type="text/css" />#}
{#        <script src="https://cdn.tailwindcss.com"></script>#}
        <title>College Placement System</title>
    </head>
    <body>
    <header style="padding:30px;background:darkslategrey;">
        <h1 style="text-align: center;color: white">
            College Placement System
        </h1>
    </header>

        {% block content %}

        {% endblock %}

    </body>
</html>